@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #16162b;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

.test {
  filter: brightness(50%);
  grid-row: auto;
}

.slider {
  scrollbar-width: none;
} 

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;

}

.header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(2, 31, 69, 1) 60%,
    rgba(2, 48, 86, 1) 89%,
    rgba(18, 61, 92, 1) 100%
  );
}

.fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
img {
  width: 100%;
  object-fit: cover;
  /* object-position: center; */
}
.p-img:hover{
  transform: scale(1.03);
  
  transition: 0.5s ease;
}
.p-img{
  width: 30rem;
  height: 20rem;
  object-fit: fill;
}

button,
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0014c7;
  cursor: pointer;
  transition: border-color 0.25s;
}
input {
  border: none;
  outline: none;
  
}

.btn-m {
  padding: 0.6em 1.3em;
}

.service-box {
  transition: 0.5s ease;
}
.service-box:hover {
  transform: scale(1.03);
}

.sideNav {
  right: 0;
}

section {
  padding-top: 60px;
  /* height: 100vh; */
}
.nav-scroll {
  background: #041644;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  background: #000;
}
.navbar {
  transition: all 0.5s;
}
.navbar.active {
  transition: all 1.5s;
  background: #041644;
}

.shadow-colored{
  box-shadow: 5px 5px 5px #38bdf8;
  text-shadow: #38bdf8;
}

.fadeInTop {
  -webkit-animation: fadeInTop 2s both;
  -moz-animation: fadeInTop 2s both;
  -o-animation: fadeInTop 2s both;
  animation: fadeInTop 2s both;
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInTop {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInTop {
  0% {
    opacity: 0;
    -o-transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(30, 41, 59);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  .sec2 {
    background: white;
  }
  .header {
    background: white;
  }
  button {
    color: white;
  }

  .header {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 9%,
      rgba(193, 196, 200, 1) 50%,
      rgba(255, 254, 254, 1) 100%
    );
  }

  #nav-side {
    color: #242424;
    background: #ffffff;
  }
}
 

