@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #16162b;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 20%,
    rgba(2, 31, 69, 1) 60%,
    rgba(2, 48, 86, 1) 89%,
    rgba(18, 61, 92, 1) 100%
  );
}

/* .sec2 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 53%,
    rgba(13, 31, 62, 1) 83%
  );
   */
  


.aboutUs{
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
img {
  width: 100%;
}

button,
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0014c7;
  cursor: pointer;
  transition: border-color 0.25s;
}
input {
  border: none;
  outline: none;
}

.btn-m {
  padding: 0.6em 1.3em;
}
#nav-side {
  height: 80vh;
  width: 60%;
  top: 60px;
  right: 0;
  padding-top: 40px;
  padding-left: 20px;
  position: absolute;
  gap: 1.25rem;
  background: rgb(15, 23, 42);
  background: #110e33;
  transition: 0.3s ease-in-out;
  border-radius: 15px 15px 20px 20px;
}
#nav-side.active {
  right: -900px;
  /* display: none; */
}

.hello{
  display: none;
  position: absolute;
  width: 10rem;
  background: #fff;
  padding: 1rem;
  margin: 2rem;
  border-radius: 10px;
  color: #110e33;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  position: fixed;
  
  display: none;
}

section {
        padding-top: 60px; 
        /* height: 100vh; */
      }

@media (prefers-color-scheme: light) {
  :root {
    color: rgb(30, 41, 59);
    background-color: transparent;
  }
  a:hover {
    color: #747bff;
  }

  .sec2 {
    background: white;
  }
  .header {
    background: white;
  }
  button {
    color: white;
  }

  .header {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 9%,
      rgba(193, 196, 200, 1) 50%,
      rgba(255, 254, 254, 1) 100%
    );
  }

  #nav-side {
    color: #242424;
    background: #ffffff;
  }
}
